# Database configuration
DATABASE_URL=

# CORS Configuration
PORTFOLIO_URL=
BLOG_URL=
ADMIN_URL=
ALLOW_ORIGINS=

# Server Configuration
PORT=8000
NODE_ENV=

# Rate Limiting
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX_REQUESTS=

# Security
BCRYPT_SALT_ROUNDS=

# Logging
LOG_LEVEL=

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=